annotated-doc==0.0.4
asgiref==3.11.1
asttokens==3.0.1
boto3==1.43.16
botocore==1.43.16
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
cryptography==47.0.0
decorator==5.2.1
dj-database-url==3.1.2
Django==6.0.4
django-allauth==65.16.1
django-storages==1.14.6
djangorestframework==3.17.1
executing==2.2.1
gunicorn==25.3.0
idna==3.13
ipython==9.12.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jmespath==1.1.0
jsonpickle==4.1.1
Markdown==3.10.2
markdown-it-py==4.0.0
matplotlib-inline==0.2.1
mdurl==0.1.2
orjson==3.11.8
packaging==26.2
parso==0.8.6
pillow==12.2.0
prompt_toolkit==3.0.52
prosperity4bt==0.0.0
prosperity4btest==1.0.1
psycopg2-binary==2.9.12
pure_eval==0.2.3
pycparser==3.0
Pygments==2.20.0
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.33.1
rich==15.0.0
s3transfer==0.17.1
shellingham==1.5.4
six==1.17.0
sqlparse==0.5.5
stack-data==0.6.3
tqdm==4.67.3
traitlets==5.14.3
typer==0.24.1
tzdata==2026.2
urllib3==2.6.3
wcwidth==0.6.0
whitenoise==6.12.0
